{% load static %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Twitter</a></h1>
            <ul class="nav navbar-nav navbar-righ">
                {% if user.id is None %}
                <!-- ログインしていない -->
                <li class="nav-item"><a class="nav-link" href="{% url 'accounts:signup' %}">新規登録</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}">ログイン</a></li>
                {% else %}
                <!-- ログインしていたらこっち -->
                <li class="nav-item"><a class="nav-link" href="{% url 'tweets:index' %}">投稿一覧</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'tweets:new' %}">新規投稿</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'accounts:logout' %}">ログアウト</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>