{% load static %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
    </head>
    <body >
        <header class="navbar navbar-fixed-top page-header">

        <div class="container">
            <nav class="nav navbar-nav navbar-left">
                <h1><a href="/">Twitter</a></h1>
            </nav>
            <nav>
                <ul class="nav navbar-nav navbar-right">
                    <li>asdf</li>
                    <li>asdfdf</li>
                    <li>asdf</li>
                    <li>asdfdf</li>
                </ul>
            </nav>
        </div>
        </header>
        <main>
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </main>
        </div>
    </body>
</html>